/* CUSTOM CSS */
/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */

body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0;
    padding: 0 15%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightblue;
}

ul {
    list-style: none; 
    padding-left: 0;  
}

li {
    position: relative;
    padding-left: 30px; 
}

li::before {
    content: '';
    background-image: url('images/olive.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
    display: inline-block; 
    margin-right: 5px; 
}
